{% extends "panel_admin.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/admin_perfil.css' %}?v=1">

<div class="perfil-overlay" id="overlay" onclick="cerrarDesdeOverlay(event)">
    <div class="perfil-card" id="card">
        
        <span class="cerrar-btn" onclick="cerrarPerfil()" title="Cerrar">&times;</span>

        <div class="perfil-lateral">
            <div class="avatar-circle">
                {{ request.session.nombre|slice:":1" }}
            </div>
            <span class="rol-tag">{{ request.session.rol }}</span>
        </div>

        <div class="perfil-contenido">
            <h2>Información personal</h2>
            
            <div class="info-grid">
                <div class="data-group">
                    <label>Nombre Completo</label>
                    <div class="data-value">
                        {{ request.session.nombre }} {{ request.session.apellido_paterno }} {{ request.session.apellido_materno }}
                    </div>
                </div>

                <div class="data-group">
                    <label>Correo Electrónico:</label>
                    <div class="data-value">
                        {{ request.session.correo }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/admin_perfil.js' %}"></script>

{% endblock %}