<!-- =========================
      MODAL ELIMINAR
========================= -->
<div class="modal" id="modalEliminar">
    <div class="modal-content">
        <h3>¿Eliminar convocatoria?</h3>

        <input type="hidden" id="deleteId">

        <div class="modal-actions">
            <button type="button"
                    class="btn-cancelar"
                    onclick="cerrarModalEliminar()">
                Cancelar
            </button>

            <button type="button"
                    class="btn-confirmar-eliminar"
                    id="confirmarEliminar">
                Eliminar
            </button>
        </div>
    </div>
</div>