<!-- =========================
      MODAL EDITAR
========================= -->
<div class="modal" id="modalEditar">
    <div class="modal-content">
        <button type="button" class="modal-close" onclick="cerrarModalEditar()">×</button>

        <h3>Editar Convocatoria</h3>

        <form id="formEditar"
              method="POST"
              enctype="multipart/form-data">

            {% csrf_token %}

            <input type="hidden" name="id" id="editId">

            <input type="text"
                   name="titulo"
                   id="editTitulo"
                   required>

            <input type="datetime-local"
                   name="fecha_fin"
                   id="editFecha"
                   required>

            <input type="file"
                   name="banner"
                   id="editBanner">

            <div class="modal-actions">
                <button type="submit" class="btn-guardar">
                    Guardar Cambios
                </button>
            </div>
        </form>
    </div>
</div>