{% load static %}<link rel="stylesheet" href="{% static 'css/navbar_publico.css' %}?v=30">
<header class="main-header">
    <div class="logo-container">
        <div class="logo-circle">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo-img">
        </div>
        <h1 class="logo-title">Portal Publico Institucional</h1>
    </div>

    <!-- BOTÓN HAMBURGUESA -->
    <div class="menu-toggle" id="menuToggle">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- MENÚ -->
    <nav class="nav-menu" id="navMenu">
        <a href="{% url 'portal_visitante' %}">Inicio</a>
        <a href="{% url 'portal_visitante' %}#programa">Programa</a>
        <a href="{% url 'portal_visitante' %}#convocatorias">Convocatorias</a>
        <a href="{% url 'login' %}">Acceder</a>
    </nav>
</header>

<script src="{% static 'js/navbar_visitante.js' %}"></script>