{% load static %}
<link rel="stylesheet" href="{% static 'css/emprendedor_muro.css' %}">
<div class="muro-container">
    <div class="{% if layout == 'grid' %}publications-grid{% else %}publications-list{% endif %}">
        {% if muro %}
            {% for item in muro %}
                {% if item.tipo == 'convocatoria' %}
                    {% include "ver_convocatorias_item.html" with item=item %}
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="no-posts">Por el momento no hay convocatorias disponibles.</div>
        {% endif %}
    </div>
</div>
